{% extends 'base.html' %}
{% block title %}Non-Billable{% endblock title %}
{% block main_content %}
<form>
    <div><center><h1>Glacier's Non_Billable Log</h1></center></div>  
        <div class="container"> 
                <table id="example" class="table table-bordered" style="width:100%">
                    <thead class="table-dark">                
                        <tr>
                            <th>User</th>
                            <th>Date</th>
                            <th>TaskType</th>
                            <th>Workdone</th>
                            <th>Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue. 
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Manoj Beshra</td>
                            <td>01/12/2023</td>
                            <td>Issues</td>
                            <td>Looked into quote and order form issue.
                            <td>7</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-auto me-auto">
                        <button type="button" class="btn btn-success">Add New Record</button>
                    </div>
                    <div class="col-auto">
                        <nav>
                            <ul class="pagination justify-content-end">
                                <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                                <li class="page-item"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                <li class="page-item"><a href="#" class="page-link">4</a></li>
                                <li class="page-item"><a href="#" class="page-link">5</a></li>
                                <li class="page-item"><a href="#" class="page-link">Next</a></li>
                            </ul>
                        </nav>   
                    </div>
                </div>            
        </div>
    </form>
{% endblock main_content %}    
